@page
@using EmployeeData.Models
@using Microsoft.EntityFrameworkCore
@model EmployeeData.Pages.EmployeeList.EmployeeList
@{
    ViewData["Title"] = "Employee List";
    @if (ViewData.ContainsKey("ErrorMessage")) 
    {
        <div class="alert alert-danger">
            @ViewData["ErrorMessage"]
        </div>
    }
}
<div class=" m-4">
    <h2 class="section-header">Employee Details</h2>
</div>
<!-- Search Form -->
<form method="get" class="search-form row g-3">
    <div class="row">

        <div class="form-group col-md-4 ">
            <label for="SearchTerm">Search:</label>
            <input type="text" id="SearchTerm" name="SearchTerm" class="form-control " value="@Model.SearchTerm"
            placeholder="Enter search term" />
        </div>

        @if (!string.IsNullOrEmpty(Model.Message) && !string.IsNullOrEmpty(Model.SearchTerm))
        {
            <div class="alert alert-warning col-12">@Model.Message</div>
        }

        <div class="col-7 m-2">
            <button id="search-btn" type="submit" class="btn btn-primary mt-2">Search</button>
        </div>

    </div>
</form>


<!-- Employee Table -->
<div class="scrollable row ">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Employee Id</th>
                <th>GGID</th>
                <th>Resource</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Date Of Hire</th>
                <th>Grade</th>
                <th>Global Grade</th>
                <th>BU</th>
                <th>Is Active In Project</th>
                <th>Overall Experience</th>
                <th>Skills</th>
                <th>Certificates</th>
                <th>Altria Start date</th>
                <th>Altria End date</th>
                <th>BGV Status</th>
                <th>BGV Completion Date</th>
                <th>VISA Availability</th>
                <th>VISA Type</th>
                @if (HttpContext.Session.GetString("Role") == "Admin"){
                <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Employees != null)
            {
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.EmpId</td>
                        <td>@employee.GGID</td>
                        <td>@employee.Resource</td>
                        <td>@employee.Email</td>
                        <td>@employee.Gender</td>
                        <td>@employee.DateOfHire.ToString("dd-MM-yyy")</td>
                        <td>@employee.Grade</td>
                        <td>@employee.GlobalGrade</td>
                        <td>@employee.BU</td>
                        <td>@employee.IsActiveInProject</td>
                        <td>@employee.OverallExp</td>
                        <td>@employee.Skills</td>
                        <td>@employee.Certificates</td>
                        <td>@employee.AltriaStartdate.ToString("dd-MM-yyy")</td>
                        <td>@employee.AltriaEnddate.ToString("dd-MM-yyy")</td>
                        <td>@employee.BGVStatus</td>
                        <td>@employee.BGVCompletionDate.ToString("dd-MM-yyy")</td>
                        <td>@employee.VISAStatus</td>
                        <td>@employee.VISAType</td>
                        <td>
                            @if (HttpContext.Session.GetString("Role") == "Admin"){

                            <form method="get" asp-page="/Registration/Registration" asp-route-empId="@employee.EmpId"
                                style="display:inline;">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>

                            <button type="submit"
                                onclick="openConfirmationModal('@employee.AltriaEnddate.ToString("dd-MM-yyy")', '@employee.IsActiveInProject')"
                                class="btn @(employee.IsActiveInProject == "Y" ? "btn-warning" : "btn-success")"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                @(employee.IsActiveInProject == "Y" ? "Deactivate" : "Activate")
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Active/Deactivate</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" asp-page-handler="Delete" asp-route-empId="@employee.EmpId"
                                                asp-route-projectCode="@employee.ProjectCode">
                                                <div class="input-box col-3">
                                                    <label for="AltriaEnddate">Altria End date</label>
                                                    <input id="AltriaEnddate" name="projectExtensionDate"
                                                        asp-for="@employee.AltriaEnddate" type="date" onload="getDate()"
                                                        class="form-control date-field" />
                                                    <span asp-validation-for="@employee.AltriaEnddate"
                                                        class="text-danger"></span>
                                                </div>

                                                <div class="form-group col-3">
                                                    <label>Active in Project:</label>
                                                    <div class="row">

                                                        <input type="radio" id="activeYes" class="col-3 custom-radio"
                                                            name="actionType" value="Y" asp-for="@employee.IsActiveInProject" />
                                                        <label for="activeYes" class="col-3">Yes</label>
                                                    </div>

                                                    <div class="row">

                                                        <input type="radio" id="activeNo" class="col-3 custom-radio"
                                                            name="actionType" value="N" asp-for="@employee.IsActiveInProject" />
                                                        <label for="activeNo" class="col-3">No</label>
                                                    </div>

                                                    <span asp-validation-for="@employee.IsActiveInProject"
                                                        class="text-danger"></span>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center">No employee details available.</td>
                </tr>
            }
        </tbody>
    </table>
    <a id="register" href="/Registration/Registration"><i class="fa fa-user-plus" aria-hidden="true"> Register</i></a>
</div>



<div class="scrollable row ">
    <h2 class="section-header">Project Details</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Project Code
                </th>
                <th>Project Name</th>
                <th>PO Number</th>
                <th>POD Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Off shore City</th>
                <th>Off shore Backup</th>
                <th>Altria POD Owner</th>
                <th>ALCS Director</th>
                <th>Type</th>
                <th>Tower</th>
                <th>ABLGBL</th>
                <th>TL Name</th>
                <th>Transition</th>
                <th>COR</th>
                <th>Group</th>
                <th>Role in POD</th>
                <th>Monthly Price</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
                @if (HttpContext.Session.GetString("Role") == "Admin"){
                <th>Action</th>
                }
            </tr>
        </thead>

        <tbody>
            @if (Model.Employees != null)
            {
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.ProjectCode</td>
                        <td>@employee.ProjectName</td>
                        <td>@employee.PONumber</td>
                        <td>@employee.PODName</td>
                        <td>@employee.StartDate.ToString("dd-MM-yyy")</td>
                        <td>@employee.EndDate.ToString("dd-MM-yyy")</td>
                        <td>@employee.Location</td>
                        <td>@employee.OffshoreCity</td>
                        <td>@employee.OffshoreBackup</td>
                        <td>@employee.AltriaPODOwner</td>
                        <td>@employee.ALCSDirector</td>
                        <td>@employee.Type</td>
                        <td>@employee.Tower</td>
                        <td>@employee.ABLGBL</td>
                        <td>@employee.TLName</td>
                        <td>@employee.Transition</td>
                        <td>@employee.COR</td>
                        <td>@employee.Group</td>
                        <td>@employee.RoleinPOD</td>
                        <td>@employee.MonthlyPrice</td>
                        <td>@employee.January</td>
                        <td>@employee.February</td>
                        <td>@employee.March</td>
                        <td>@employee.April</td>
                        <td>@employee.May</td>
                        <td>@employee.June</td>
                        <td>@employee.July</td>
                        <td>@employee.August</td>
                        <td>@employee.September</td>
                        <td>@employee.October</td>
                        <td>@employee.November</td>
                        <td>@employee.December</td>
                        <td>@employee.JanFin</td>
                        <td>@employee.FebFin</td>
                        <td>@employee.MarFin</td>
                        <td>@employee.AprFin</td>
                        <td>@employee.MayFin</td>
                        <td>@employee.JuneFin</td>
                        <td>@employee.JulyFin</td>
                        <td>@employee.AugFin</td>
                        <td>@employee.SepFin</td>
                        <td>@employee.OctFin</td>
                        <td>@employee.NovFin</td>
                        <td>@employee.DecFin</td>

                        <td>
                              @if (HttpContext.Session.GetString("Role") == "Admin"){

                            <form method="get" asp-page="/Registration/Registration" asp-route-empId="@employee.EmpId"
                                style="display:inline;">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            

                            <button type="submit"
                                onclick="openConfirmation('@employee.AltriaEnddate.ToString("dd-MM-yyy")', '@employee.IsActiveInProject')"
                                class="btn @(employee.IsActiveInProject == "Y" ? "btn-warning" : "btn-success")"
                                data-bs-toggle="modal" data-bs-target="#staticdrop">
                                @(employee.IsActiveInProject == "Y" ? "Deactivate" : "Activate")
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticdropLabel">Project End Date</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Update the Project End date</p>
                                            <form method="post" asp-page-handler="Update" asp-route-empId="@employee.EmpId"
                                                asp-route-projectCode="@employee.ProjectCode">
                                                <div class="input-box col-3">
                                                    <label for="EndDate">End Date</label>
                                                    <input id="EndDate" name="EndDate" asp-for="@employee.EndDate" type="date"
                                                        class="form-control date-field" />
                                                    <span asp-validation-for="@employee.EndDate" class="text-danger"></span>
                                                </div>


                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center">No project details available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
